.c-header {
  position: fixed;
  top: 0;
  left: 0;
  height: @header-height;
  z-index: @z-index-10;
}

.c-header button {
  margin: 0;
  color: @color-font-secondary;
  background-color: @color-secondary;
  transition: @transition-bg;
}

.c-header .is-active {
  background-color: @color-secondary--weaker;
}
.c-header button:hover {
  background-color: @color-secondary--stronger;
}
