.c-nav {
  padding-top: @header-height;
  position: fixed;
  top: 0;
  left: -@nav-width;
  height: 100%;
  width: @nav-width;
  background-color: @color-primary;
}

.c-nav a {
  display: block;
  color: @color-font-secondary;
  transition: @transition-all;
  border-right: @color-secondary--weaker 0.2rem solid;
  padding: @space;
}

.c-nav a:hover {
  color: @color-font-secondary--stronger;
  border-color: @color-secondary--stronger;
}

.c-nav .open {
  display: block;
  left: -100%;
  top: 0;
}
