body {
  margin: 0;
  padding: 0;
  &:extend(.typo);
  color: @color-font-primary;
  background-color: @color-primary;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  font-family: @font-sans;
  font-size: @font-nav;
  padding: @space;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

section {
  margin: @gutter;
  padding: @gutter;
  background-color: @color-primary--weaker;
}

.element {
  margin: @space;
  padding: @space;
  background-color: @color-primary--stronger;
}

.is-hidden {
  display: none;
}

.pull-right {
  float: right;
}
