body {
  margin: 0;
  padding: 0;
  &:extend(.typo);
  color: @color-font-primary;
  background-color: @color-primary;
}

button {
  outline: none;
  border: none;
  font-family: @font-sans;
  font-size: @font-nav;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
